:root {
    --primery-background-color: #ffffff;
    --primery-text-color: #000000;
    --secondary-text-color: #ffffff;
    --button-color: #34a9a2;
    --button-hover-color: #35918b;
    // --secondary-background-color: #2f303a;
    // --third-background-color: #f5f4fa;
    // --header-logo: #000000;

    // --primery-title-color: #212121;
    // --links-hover-color: #2196f3;
    // --button-hover-color: #188ce8;
    // --footer-links-color: rgba(255, 255, 255, 0.6);
    // --header-border-bottom: #ececec;
    // --our-work-item-border: #eeeeee;
    // --our-team-sicoal-icon: #afb1b8;
    // --footer-social-icon-color: rgba(255, 255, 255, 0.1);
    // --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
}
